<form [formGroup]="mainForm" (ngSubmit)="submit()">
  <div class="p-3">
    <div class="p-1 titleLine justify-content-between d-inline-flex">
      <h4 class=" pt-2 ml-4 text-secondary text-center">{{ action == 'edit' ? "Editar" : action == 'new' ? "Incluir" : "Consulta" }} Parâmetros de Análise</h4>
    </div>
  
    
      <div class="row mt-5">
        
        <div class="col-6">
          <label  class="ptitle">Descrição:</label>
          <input type="text"  formControlName="desc" class="inputblack form-control " >
        </div>
  
        <div class="col-3">
          <label  class="ptitle">Data Início Vigência:</label>
          <input type="date" formControlName="dataInicioVigencia" class="inputblack form-control " >
        </div>
        <div class="col-3">
          <label  class="ptitle">Data Fim Vigência:</label>
          <input type="date" formControlName="dataFimVigencia" class="inputblack form-control " >
        </div>
        
      
    </div>
    <div class="row mt-5">
        
      <div class="col-3">
        <label class="ptitle">Prioridade:</label>
        <select class="browser-default custom-select" formControlName="prioridade">
          <option value="">Selecione</option>
          <option value="1" >1</option>
        </select>
      </div>
  
      <div class="col-3">
        <label class="ptitle">Tipo da Mala:</label>
        <select class="browser-default custom-select" formControlName="tipoMala">
          <option value="">Selecione</option>
          <option value="1" >Especifica</option>
        </select>
      </div>
      <div class="col-3">
        <label class="ptitle">Manter Outras Malas:</label>
        <select class="browser-default custom-select" formControlName="manterOutrasMalas">
          <option value="">Selecione</option>
          <option value="sim" >Sim</option>
        </select>
      </div>
      <div class="col-3" *ngIf="action != 'new'">
        <label class="ptitle">Status</label>
        <select class="browser-default custom-select" formControlName="status">
          <option value="">Selecione</option>
          <option value="ativo" >Ativo</option>
        </select>
      </div>
      
    
    </div>
  
  
    <div *ngIf="action == 'show'">
      <hr class="mt-5 mb-5">
      <div class="row">
        <div class="col-7">
          <table class="table table-bordered" >
         
            <tr>
           
              <th style="width: 70%">Usuário Responsável</th>
              <th style="width: 20%">Data</th>
            </tr>
            <tr >
              <td>Guilherme Nimer</td>
              <td>20/12/2016 08:54:34</td>
              
            </tr>
      
          
          
        </table>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
   
  
  
  </div>
  
  <div class="hrBottom  text-right mb-3">
    <div class="line"></div>
    <div class="pt-3"></div>
    <button type="button" class="btn btn-outline mr-5 col-1" routerLink="..">Voltar</button>
    <button type="submit" class="btn btn-bg mr-5 col-1" *ngIf="action != 'show'" >Salvar</button>
  </div> 
  </form>
  
  
  
  
  
  
  