
<div class="p-3">
  <div class="p-1 titleLine justify-content-between d-inline-flex">
    <h4 class="ml-4 text-secondary text-center" style="padding-top: 3px">{{ title }}</h4>
  </div>
</div>

<form class="m-1 mb-3 mt-3">

  <div class="m-3">
    <div class="row">
      <div class="col-3">
        <label class="form-check-label tp-person">Código do Modelo:</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-5">
        <label class="form-check-label tp-person">Descrição:</label>
        <input type="text" class="form-control">
      </div>
   
    </div>
  </div>


</form>

<div class="hrBottom p-3 text-right">
  <div class="line"></div>
  <button type="button" class="btn btn-outline mr-5 col-1">Voltar</button>
  <button type="button" class="btn btn-bg mr-5 col-1">Salvar</button>
</div>
