<div class="p-3">
  <div class="p-1 titleLine justify-content-between d-inline-flex">
    <h4 class=" pt-2 ml-4 text-secondary text-center">{{ title }}</h4>
    <button type="button" class="mr-4 btn bgBtn" data-toggle="modal"  data-target="#AddEditModal" (click)="modalCall(false)" >+ Novo</button>
  </div>


  <form [formGroup]="searchForm" (ngSubmit)="search()" class="m-1  mt-5">
    <div class="row">
      <div class="col-2">
        <label class="pinput" for="codR">Código da Regra:</label>
        <input type="number" id="codR" formControlName="codRegra"  class="inputblack  form-control">
      </div>
      <div class="col-2">
        <label class="pinput" for="codS">Status:</label>
        <select class="form-control inputblack"  formControlName="codStatus" id="codS"  >
          <option value=""  selected>Todos</option>
          <option value="ATIVO"  >Ativo</option>
          <option value="INATIVO"  >Inativo</option>
          
          
        </select>
      </div>
      <div class="col-2 p-25">
        <button type="submit" class="btn  bgBtn w-35 mt-30">Pesquisar</button>
      </div>
      <div class="col-6"></div>
    </div>
  </form>





 
  <div >
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descrição do Motivo</th>
          <th scope="col">Status</th>
          <th scope="col">Data Ultima Ação</th>
          <th scope="col">Usuário Responsável</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of motivosRecusa | paginate: { itemsPerPage: contador, currentPage: pag, totalItems: motivosRecusa.length}; let i = index ">
          <td>{{a.codigo}}</td>
          <td><a [routerLink]="[a.codigo]">{{a.descMotivo}}</a></td>
          <td>{{a.status}}</td>
          <td>{{a.dataUltimaAcao}}</td>
          <td>{{a.usuarioResponsavel}}</td>
          <td >
              <a data-toggle="modal" data-target="#AddEditModal" (click)="modalCall(true,a,i)"><img   src="../../assets/pencil-alt-solid.svg"></a>
              <a data-toggle="modal" data-target="#deleteModal" (click)="excDesc = [a.descMotivo,i]" ><img src="../../assets/times-solid.svg"></a>
          </td>
        </tr>
      </tbody>
      
    </table>
    <div *ngIf="motivosRecusa.length == 0" class="alert alert-info" role="alert">
      Não existem itens para mostrar nesta exibição.
     </div>
  </div>
  <!--inclindo o controle de paginação.-->
  <div class="text-right">
    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
    nextLabel="Próximo" directionLinks="true" responsive="true"></pagination-controls>
  </div>
</div>






  <!-- Modal DELETE-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header"     style="border-bottom: 1px solid #0abab5 !important;">
          <h5 class="modal-title" id="exampleModalLongTitle"><h4 class=" pt-2 ml-4 text-secondary text-center">Exclusão Restritivo SERASA</h4></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-5">
          <h5 style="color:black; font-weight:400;">Você tem certeza que deseja excluir o Motivo Recusa<br><b>{{excDesc[0]}}</b>?</h5>
        </div>
        <div class="modal-footer" style="border-top:none !important;">
          
          <button type="button" data-dismiss="modal" class="btn btn-lg btn-outline-info">Cancelar</button>
          <button type="button" data-dismiss="modal" class="btn btn-lg btn-light" (click)="deletarItem(excDesc[1])">Excluir</button>
        </div>
      </div>
    </div>
  </div>



   <!-- Modal ADD/EDIT-->
   <div class="modal fade" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content rounded-10">
        <form [formGroup]="modalForm" (ngSubmit)="submit()">
          <div class="modal-header"     style="border-bottom: 1px solid #0abab5 !important;">
            <h5 class="modal-title" id="exampleModalLongTitle"><h4 class=" pt-2  text-secondary text-center">{{isEdit ? 'Editar' : 'Incluir'}} Motivo Recusa</h4></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="container-fluid p-1">
              <div >
                
                  <div class="row pb-2">
                    <div class="col-10">
                      <label class="pinput" style="font-weight: bold;" for="motR">Descrição Motivo Recusa:</label>
                      <input type="text" id="motR" formControlName="descMotivo" class="inputblack form-control-lg form-control">
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row pb-5" *ngIf="isEdit" >
                    <div class="col-6">
                      <label class="pinput" style="font-weight: bold;" for="motR">Status:</label>
                      <select id="motR" formControlName="status"  class="inputblack form-control-lg form-control">
                        <option value="ATIVO" selected>Ativo</option>
                        <option value="INATIVO">Inativo</option>
                      </select>
                    </div>
                    <div class="col-6"></div>
                  </div>
                
              </div>
            </div>
            


          </div>
          <div class="modal-footer" style="border-top:none !important;">
            
            <button type="button" id="close" data-dismiss="modal" class="btn btn-lg btn-outline-info">Cancelar</button>
            <button type="submit"  class="btn btn-lg btn-light save" >Salvar</button>
          </div>
      </form>
      </div>
    </div>
  </div>