
<div class="p-3">
  <div class="p-1 titleLine justify-content-between d-inline-flex">
    <h4 class="pt-2 ml-2 text-secondary text-center">{{ title }}</h4>
    <button type="button" class="mr-4 btn bgBtn" [routerLink]="['new']" routerLinkActive="active">+ Novo</button>
  </div>

  <form [formGroup]="scoreForm" class="m-1 mb-3 mt-3" (ngSubmit)="submit()">
    <div class="row">
      <div class="col">
        <label >Código da Regra</label>
        <input type="number" formControlName="codRegra" class="form-control">
      </div>
      <div class="col">
        <label>Tipo de Cliente:</label>
        <select formControlName="tipoCliente" class="browser-default custom-select">
          <option value="">Todos</option>
          <option value="0">Não Cliente</option>
          <option value="1">Cliente</option>
        </select>
      </div>
      <div class="col p-25">
        <button type="submit" class="btn bgBtn  mt-30">Pesquisar</button>
      </div>
    </div>
  </form>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" >Tipo de Cliente</th>
          <th scope="col">Código</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data Cadastro</th>
          <th scope="col">Usuário Responsável</th>
          <th scope="col" >Ações</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let a of dadosCliente | paginate: { itemsPerPage: contador, currentPage: pag, totalItems: dadosCliente.lenght}">
          <td>{{a.tipocliente | verifyClientType }}</td>
          <td><a [routerLink]="['show']" [queryParams]="{id: a.codigo}">{{a.codigo}}</a></td>
          <td>{{a.descricao}}</td>
          <td>{{a.datacadastro}}</td>
          <td>{{a.usuarioresponsavel}}</td>
          <td >
              <img [routerLink]="['edit']" [queryParams]="{id: a.codigo}" src="../../assets/pencil-alt-solid.svg">
              <a  data-toggle="modal" data-target="#deleteModal"><img   src="../../assets/times-solid.svg"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--inclindo o controle de paginação.-->
  <div class="text-right">
    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
    nextLabel="Próximo" directionLinks="true" responsive="true"></pagination-controls>
  </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"     style="border-bottom: 1px solid #0abab5 !important;">
        <h5 class="modal-title" id="exampleModalCenterTitle"><h4 class=" pt-2 ml-4 text-secondary text-center">Exclusão Receita Federal</h4></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-5">
        <h5 style="color:black; font-weight:400;">Você tem certeza que deseja excluir o <b>Score 10</b>?</h5>
      </div>
      <div class="modal-footer" style="border-top:none !important;">
        
        <button type="button" data-dismiss="modal" class="btn btn-lg btn-outline-info">Cancelar</button>
        <button type="button" data-dismiss="modal" class="btn btn-lg btn-light" >Excluir</button>
      </div>
    </div>
  </div>
</div>
