
<div class="p-3">
  <div class="p-1 titleLine justify-content-between d-inline-flex">
    <h4 class="ml-4 text-secondary text-center">{{ title }}</h4>
  </div>
</div>

<div class="pl-4 pt-5 pb-4">
  <div>
    <label><b>Modelo:</b> {{modelo}}</label>
  </div>
  <div>
    <label><b>Processo:</b> {{processo}}</label>
  </div>
</div>


<div class="container-fluid">
  <form class="m-1 mb-3 mt-3">
    <div class="row">

      <div class="col-3">
        <label><b>Código Contingência:</b></label>
        <select class="browser-default custom-select">
          <option>Selecione</option>
        </select>
      </div>

      <div class="col-3">
        <label><b>Ação:</b></label>
        <select class="browser-default custom-select">
          <option>Selecione</option>
        </select>
      </div>
      
      <div class="col-3">
        <label><b>Interromper:</b></label>
        <select class="browser-default custom-select">
          <option>Selecione</option>
        </select>
      </div>

      <div class="col-3">
        <label><b>Mensagem:</b></label>
        <select class="browser-default custom-select">
          <option>Selecione</option>
        </select>
      </div>

    </div>

    <div class="row pt-5">
      <div class="col-3">
        <label><b>Motivo Recusa:</b></label>
        <select class="browser-default custom-select">
          <option>Selecione</option>
        </select>
      </div>
    </div>

  </form>
</div>

<div class="hrBottom p-3 text-right">
  <div class="line"></div>
  <button type="button" class="btn btn-outline mr-5 col-1" routerLink="/listAnalysisModelRules">Voltar</button>
  <button type="button" class="btn btn-bg mr-5 col-1">Incluir</button>
</div>
