

  
  .titleLine {
    padding: 5px;
    text-align: left;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
    box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
  }
  
  h4 {
    color: #0abab5!important;
  }
  
  .bgBtn {
    background: #0abab5!important;
    color: #fff;
  }
  /*
  .my-pagination /deep/ .ngx-pagination li {
    border: solid 1px #0abab5 !important;
    margin: 0;
    color: #0abab5;
    background: #fff!important;
  }
  
  .my-pagination /deep/ .ngx-pagination .disabled {
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    background: #0abab5 !important;
    color:  #fff;
  }
  
  .my-pagination /deep/ .ngx-pagination .pagination-next {
    border-radius: 0px 5px 5px 0px;
    margin: 0;
    background: #0abab5 !important;
    color:  #fff!important;
  }
  
  .my-pagination /deep/ .ngx-pagination .responsive {
    background: #fff!important;
    color: #0abab5;
  }
   */
  label {
    color: #595858;
  }
  
  .w-35 {
    width: 35%;
  }
  
  
  .p-20 {
    padding: 20px;
  }
  
  .p-25{
    padding: 25px;
  }
  